/* You can add global styles to this file, and also import other style files */
/* #c31e1e */
body{
    font-family: 'Lalezar', cursive;
}
.bubble-news,.carousel-item,.header,.card-image{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.search ,.slider,.home-news{
    direction: rtl
}
.navbar-light .navbar-nav .nav-link,footer,.header h1,.bubble-news p{
    color: #fff
}
.navbar-light .navbar-toggler{
    padding: .15rem .5rem;
    border-color: rgba(0, 0, 0, .5)
}
/* start navbar */
.navbar{
    transition:all  0.5s ease;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img{
    width: 110px;
    transition: all .5s ease
}
.nav-container{
    flex-direction: row-reverse;
}
.sport-dropdown .dropdown-toggle{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.sport-dropdown .dropdown-toggle::after {
    margin-right: 5px;

}
/* end navbar */
/* start header */
.header{
    position: relative;
    padding-top:104px;
    background-image: url(assets/images/bg2.jpg);
}
.header h1 {
    position: relative;
    z-index:7
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .5);
    z-index: 1;
}
/* end header */
/* Start News Ticker */
.nt-title,.nt-counter{
    background: #c31e1e !important;
    z-index: 5
}
.newsticker{
    border-color: #c31e1e !important
}
.nt-title span{
    border-left-color: #c31e1e !important;
 
}
.newsticker > .nt-content{
    left: 115px !important
}
/* end News Ticker */
/* slider */
.slider{
    padding-top: 20px;
    padding: 20px;
    background: #95a5a6;
}
.carousel-caption{
    background: rgba(0, 0, 0, .3)
}
.carousel-item img{
    width: 100%
}
.carousel-indicators li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c23616
}
.carousel-item,.header{
    width: 100%;
    height: 400px
}
.header{
    height: 200px;
}
/* slider */
/* Start bubble */
.bubble-news{
    position: relative
}
.bubble-news{
    height: 190px;
    margin-bottom: 14px;
}
.bubble-news p{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
}
/* end bubble */
/* start card */
.card{
    margin-bottom: 14px
}
.card-body {
    text-align: right;
    padding: 1rem;
    padding-top: .8rem
}
.card-body h5{
    margin-bottom: 5px;
    font-size: 16px;
    height: 38px;
    overflow: hidden
 }
.card-body .btn{
    background: #c31e1e;
    border: none;
    outline: none;
}
.card-body  .card-text{
    font-family: 'Cairo', sans-serif;
    line-height: 1.2;
    margin-bottom: 7px;
    font-size: 13px;
    height: 60px;
    overflow: hidden
    
}
.card-image{
    height: 169px;
}
.p7{
    padding-left: 7px;
    padding-right: 7px
}
/* End card */
/* start news body */
.search{
    background: #ccc;
    padding-top: 30px;
    padding-bottom: 20px;
}
.allNews{
    background: #ccc
}
.allNews h2{
    color:#c23616   
}
.home-news{
    background: #95a5a6;
    padding-top: 50px
}
/* End news body */
/* start media query */
@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-direction: row-reverse;
    }
}
@media (max-width: 992px)
{
    .sport-dropdown .dropdown-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
@media(max-width:470px){
    .carousel-item{
        height: 250px
    }
    .carousel-caption h5{
        font-size: 11px
    }
}