/* You can add global styles to this file, and also import other style files */
/* #c31e1e */
body{
    font-family: 'Lalezar', cursive;
}
.navbar{
    transition:all  0.5s ease;
    padding-top: 0;
    padding-bottom: 0
    /* background:  #c31e1e */
}
.navbar-light .navbar-nav .nav-link{
    color: #fff
}
.navbar-brand img{
    width: 110px;
    transition: all .5s ease
}
@media (min-width: 992px)
{
   
    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse;
    }
}
.root-container{
    /* padding-top: 50px; */
}
.nav-container{
    flex-direction: row-reverse;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-direction: row-reverse;
    }
}
.sport-dropdown .dropdown-toggle{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.sport-dropdown .dropdown-toggle::after {
    margin-right: 5px;

}
@media (max-width: 992px)
{
    .sport-dropdown .dropdown-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.carousel-caption{
    background: rgba(0, 0, 0, .3)
}
.bubble-news{
    position: relative
}
.bubble-news p{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}
.card-image{
    height: 169px;
    background-size: cover;
    background-position: center
}
.nt-title,.nt-counter{
    background: #c31e1e !important;
    z-index: 5
 
}
.newsticker{
    border-color: #c31e1e !important
}
.nt-title span{
    border-left-color: #c31e1e !important;
 
}
.carousel-item,.header{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 400px
}
.newsticker > .nt-content{
    left: 115px !important
}
@media(max-width:470px){
    .carousel-item{
        height: 250px
    }
    .carousel-caption h5{
        font-size: 11px
    }
}
.bubble-news{
    height: 190px;
    margin-bottom: 14px;
    background-size: cover;
    background-position: center

}
.header{
   
    height: 200px;
    position: relative;
    padding-top:104px;
    background-image: url(assets/images/bg2.jpg);
}
.header h1{
    color:#c31e1e;
}
.slider{
    direction: rtl;
    padding-top: 20px;
    padding: 20px;
    background: #95a5a6;
}
.header h1 {
    position: relative;
    color: #fff;
    z-index:7
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .5);
    z-index: 1;
}
.carousel-item img{
    width: 100%
}
.carousel-indicators li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c23616
}
.nav-bg{
    background: #c31e1e
}
.allNews{
    background: #ccc;
    
}
.allNews h2{
    color:#c23616
    
}
.home-news{
    direction: rtl;
    background: #95a5a6;
    padding-top: 50px
}
.card{
    margin-bottom: 14px
}
.card-body {
    text-align: right;
    padding: 1rem;
    padding-top: .8rem
}
.card-body h5{
   margin-bottom: 5px;
   font-size: 16px;
   height: 38px;
   overflow: hidden
}
.card-body .btn{
    background: #c31e1e;
    border: none;
    outline: none;
    
}
.card-body  .card-text{
    font-family: 'Cairo', sans-serif;
    line-height: 1.2;
    margin-bottom: 7px;
    font-size: 13px;
    height: 60px;
    overflow: hidden
    
}
.p7{
    padding-left: 7px;
    padding-right: 7px
}
.card-img-top{
    height:169px
}
.search{
    background: #ccc;
    padding-top: 30px;
    padding-bottom: 20px;
    direction: rtl
}
/* .card{
    overflow: hidden
}
.card img {
    transition: all .5s ease
}
.card img:hover {
    transform: scale(1.2)
} */
footer{
    color: #fff
}